*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    /* Формула = Загальна ширина - (відступ справа + відступ зліва) */
    width: 1158px;
    /* Центрування по ширині */
    margin: 0 auto;
    /* Паддінги (з Layout grid) */
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    /* чому саме у логотипі, а не у списку */
    margin-right: 76px;
}

.logo-span-dark {
    color: #2E2F42;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-list-item {
    padding: 24px 0;
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.navigation-link.active {
    color: #404BBF;
}

.navigation-link.active::after {
    display: block;
    content: "";
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    bottom: -4px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
/* ПИТАННЯ: чому тут це можна не вказувати вже */
/* .address-list-item {
        padding: 24px 0;
} */

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Main section */
.main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/office.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    /* щоб фонове зображення в блоці під хедером не розтягувалось ширше свого оригінального розміру */
    max-width: 1440px;
    /* для вирівнювання фонового зображення відносно його власної ширини та висоти */
    background-position: center;

    padding: 188px 0;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* не width, бо може бути менше */
    max-width: 496px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.order-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* вимкнення стандартного оформлення кнопки */
    border: none;
    /* визначення заокруглень */
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 0;
    /* для можливості центрувати кнопку через властивість margin */
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* ПИТАННЯ чому треба "визначення мінімальної ширини кнопки" */
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}

/* Features */
.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    /* 100% - кількість_проміжків_у_рядку * значення_одного_проміжку) / кількість_елементів_у_рядку */
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-item-icon-container {
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
}

.features-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team */
.team-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-section-list {
    display: flex;
    gap: 24px;
}

.team-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-section-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08); 
    border-radius: 0 0 4px 4px;
    /* 100% - кількість_проміжків_у_рядку * значення_одного_проміжку) / кількість_елементів_у_рядку */
    /* flex-basis - ширина у flex-container */
    flex-basis: calc((100% - 3 * 24px) / 4);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-item-text-container {
    padding: 32px 0;
}

.team-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.team-section-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-media-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-media-link {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-item:hover .social-media-link,
.team-section-item:focus .social-media-link {
    background-color: #404BBF;
}

.social-media-icon {
    fill: #F4F4FD;
}

/* Portfolio */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-section-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    /* визначення проміжку між рядками при flex-wrap: wrap;*/
    row-gap: 48px;
    border: 1px 
}

.portfolio-section-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section-item-img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-section-item-text-container {
    border: 1px solid #E7E9FC;
    /* скидання конкретної рамки */
    border-top: none;
    padding: 32px 16px;
}

.portfolio-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-section-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item-overlay {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
    background-color: #4D5AE5;
    padding: 40px 32px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-item:hover .portfolio-list-item-overlay {
    transform: translateY(0);
}

/* Footer */
.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    gap: 120px;
}

.footer-logo {
    /* ПИТАННЯ: чому inline-block, а не block */
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-light {
    color: #F4F4FD;
}

.footer-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.social-media-p {
    margin-bottom: 16px;
}

.footer .social-media-link:hover {
    background-color: #31D0AA;
}