*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    /* формула = Загальна ширина - (відступ справа + відступ зліва) */
    width: 1158px;
    margin: 0 auto;
}

/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    /* чому саме у логотипі, а не у списку */
    margin-right: 76px;
}

.logo-span-dark {
    color: #2E2F42;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-list-item {
    /* ПИТАННЯ: чому саме у item списку, а не, наприклад, у самому списку чи container/header */
    padding: 24px 0;
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* ПИТАННЯ: чому саме у a, а не, наприклад, у item списку, чи самому списку, чи container/header */
    padding: 24px 0;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
/* ПИТАННЯ: чому тут це можна не вказувати вже */
/* .address-list-item {
        padding: 24px 0;
} */

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Main section */
.main-section {
    background: #2E2F42;
    padding: 188px 0;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* не width, бо може бути менше */
    max-width: 496px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.order-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* вимкнення стандартного оформлення кнопки */
    border: none;
    /* визначення заокруглень */
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 0;
    /* для можливості центрувати кнопку через властивість margin */
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* ПИТАННЯ чому треба "визначення мінімальної ширини кнопки" */
    min-width: 169px;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}

/* Features */
.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    /* 100% - кількість_проміжків_у_рядку * значення_одного_проміжку) / кількість_елементів_у_рядку */
    flex-basis: calc((100% - 3 * 24) / 4);
}

.features-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team */
.team-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-section-list {
    display: flex;
    gap: 24px;
}

.team-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-section-item {
    background-color: #FFFFFF;
    /* 100% - кількість_проміжків_у_рядку * значення_одного_проміжку) / кількість_елементів_у_рядку */
    /* flex-basis - ширина у flex-container */
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-section-item-text-container {
    padding: 32px 0;
}

.team-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.team-section-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* Portfolio */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-section-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    /* визначення проміжку між рядками при flex-wrap: wrap;*/
    row-gap: 48px;
    border: 1px 
}

.portfolio-section-list-item {
    border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-section-item-text-container {
    border: 1px solid #E7E9FC;
    /* скидання конкретної рамки */
    border-top: none;
    padding: 32px 16px;
}

.portfolio-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-section-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    /* ПИТАННЯ: чому inline-block, а не block */
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-light {
    color: #F4F4FD;
}

.footer-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}