*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

input {
    font-family: inherit;
    outline: transparent;
}

textarea {
    font-family: inherit;
    outline: transparent;
}

button {
    font-family: inherit;
    color: currentColor;
    /* вимкнення стандартного оформлення кнопки */
    border: none;
}

.container {
    /* Формула = Загальна ширина - (відступ справа + відступ зліва) */
    width: 1158px;
    /* Центрування по ширині */
    margin: 0 auto;
    /* Паддінги (з Layout grid) */
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    /* чому саме у логотипі, а не у списку */
    margin-right: 76px;
}

.logo-span-dark {
    color: #2E2F42;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-list-item {
    padding: 24px 0;
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.navigation-link.active {
    color: #404BBF;
}

.navigation-link.active::after {
    display: block;
    content: "";
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    /* значення '-1', бо header > border = 1px */
    bottom: -1px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Main section */
.main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* щоб фонове зображення в блоці під хедером не розтягувалось ширше свого оригінального розміру */
    max-width: 1440px;
    /* для вирівнювання фонового зображення відносно його власної ширини та висоти */
    background-position: center;

    padding: 188px 0;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* не width, бо може бути менше */
    max-width: 496px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.order-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* визначення заокруглень */
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 0;
    /* для можливості центрувати кнопку через властивість margin */
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}

/* Features */
.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    /* 100% - кількість_проміжків_у_рядку * значення_одного_проміжку) / кількість_елементів_у_рядку */
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-item-icon-container {
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
}

.features-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team */
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-section-list {
    display: flex;
    gap: 24px;
}

.team-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-section-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08); 
    border-radius: 0 0 4px 4px;
    /* 100% - кількість_проміжків_у_рядку * значення_одного_проміжку) / кількість_елементів_у_рядку */
    /* flex-basis - ширина у flex-container */
    flex-basis: calc((100% - 3 * 24px) / 4);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-item-text-container {
    padding: 32px 0;
}

.team-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.team-section-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-media-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-item:hover .social-media-link,
/* для focus ОБОВʼЯЗКОВО href має бути */
.social-media-link:focus {
    background-color: #404BBF;
}

.social-media-icon {
    fill: #F4F4FD;
}

/* Portfolio */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-section-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    /* визначення проміжку між рядками при flex-wrap: wrap;*/
    row-gap: 48px;
    border: 1px 
}

.portfolio-section-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section-item-img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-section-item-text-container {
    border: 1px solid #E7E9FC;
    /* скидання конкретної рамки */
    border-top: none;
    padding: 32px 16px;
}

.portfolio-section-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-section-item-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item-overlay {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
    background-color: #4D5AE5;
    padding: 40px 32px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-item:hover .portfolio-list-item-overlay {
    transform: translateY(0);
}

/* Footer */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-p-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-light {
    color: #F4F4FD;
}

.footer-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-div-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin-bottom: 16px;
}

.social-media-list.footer-list {
    gap: 16px;
}

.footer-list .social-media-link:hover,
/* для focus ОБОВʼЯЗКОВО href має бути */
.footer-list .social-media-link:focus {
    background-color: #31D0AA;
}

.social-media-container {
    margin-right: 80px;
}

/* Subscription footer form */
.subscription-form {
    display: flex;
    gap: 24px;
}

.subscribe-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-input {
    /* для прозорого кольору */
    background-color: transparent;

    /* тут стиль тексту визначається по плейсхолдеруна макеті */
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 16px;
}

.subscribe-input::placeholder {
    /* зміна кольору за замовченням, стиль inherit з input */
    color: #ffffff;
}

.subscribe-btn {
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 8px 24px;
    /* МІНІМАЛЬНА ширина */
    min-width: 165px;
    height: 40px;
    align-self: self-end;

    /* задання стилю курсору */
    cursor: pointer;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    display: flex;

    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

.subscribe-icon {
    fill: #FFFFFF;

/* задаємо тут, а не gap = 16px */
    margin-left: 16px;
}

/* Modal */
.modal-overlay {
    /* позиціонування відносно лівого верхнього кута */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* якщо будуть інші позиціоновані - робимо максимальний z-index */
    z-index: 999;

    /* центрування modal */
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 80px;
    
    background-color: rgba(46, 47, 66, 40%);

    /* анімуємо появу через 'прозорість' */
    /* повністю прозорий елемент */
    opacity: 0;
    /* курсор НЕ реагує на контент */
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    /* плавність прозорості появи елементу */
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    /* повна НЕ прозорість */
    opacity: 1;
    /* щоб курсор реагував на контент */
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 584px;
    overflow-y: auto;

    padding: 72px 24px 24px 24px;

    display: flex;
    flex-direction: column;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;

    /* обнулення дефолтних відступів, які елемент має від браузера */
    padding: 0;

    /* для визначення стилю курсору */
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #FFFFFF;
}

.modal-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    margin-bottom: 16px;
}

.modal-form-text-input-container {
    margin-bottom: 8px;
}

.modal-form-textarea-container {
    margin-bottom: 16px;
}

.modal-form-input-container {
    position: relative;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;

    /* display: block для подальшої реалізації відступів між елементами */
    display: block;
    margin-bottom: 4px;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 40%);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 14px 16px 14px 38px;

    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
    fill: #4D5AE5;
}

.modal-form-textarea {
    border: 1px solid rgba(46, 47, 66, 40%);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    padding: 8px 16px;

    background-color: transparent;

    /* тут стиль тексту визначається по плейсхолдеруна макеті */
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 40%);

    /* не можна прокручувати */
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-checkbox-input-container {
    margin-bottom: 24px;
}

.modal-form-checkbox-icon-span {
    height: 16px;
    width: 16px;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 40%);
    background-color: transparent;
    fill: transparent;

    margin-right: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-input:checked + .modal-form-checkbox-label .modal-form-checkbox-icon-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-form-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-checkbox-label.link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.send-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;

    display: block;
    border-radius: 4px;
    min-width: 169px;
    padding: 16px 32px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404BBF;
}